 <footer class="pt-6 mt-16 bg-gray-800 border-t-2 border-gray-400">
    <div class="grid w-1/2 grid-cols-1 py-2 mx-auto text-gray-200 md:px-6 md:grid-cols-2 md:gap-6">
        <div class="text-center">
            <h4 class="mb-4 font-semibold uppercase md:text-lg">DC Dynamic Massage</h4>
            <p>6400 Canoga Ave #333,</p>
            <p>Woodland Hills, CA 91367</p>
            <p>Phone: 818-703-8480</p>
        </div>
        
        <div class="hidden text-center md:block">
            <h4 class="mb-4 font-semibold uppercase md:text-lg">Follow on Social Media</h4>
            <p><a href="https://twitter.com/ddynamicmassage" target="_blank" class="hover:text-gray-600">Twitter</a></p>
            <p><a href="https://www.facebook.com/dcdynamicmassage" target="_blank" class="hover:text-gray-600">Facebook</a></p>
            <p><a href="https://www.yelp.com/biz/dc-dynamic-massage-woodland-hills" target="_blank" class="hover:text-gray-600">Yelp</a></p>
        </div>

    </div>
    <div class="px-4 py-2 mt-4 text-sm font-semibold text-gray-200 bg-blue-400 md:px-16">
        Copyright © <current-year></current-year> DC Dynamic Massage
    </div>
</footer>