 <footer class="bg-gray-800 pt-6 border-t-2 border-gray-400 mt-16">
    <div class="md:px-6 py-2 mx-auto w-1/2 grid grid-cols-1 md:grid-cols-2 md:gap-6 text-gray-200">
        <div class="text-center">
            <h4 class="md:text-lg uppercase mb-4 font-semibold">DC Dynamic Massage</h4>
            <p>6400 Canoga Ave #333,</p>
            <p>Woodland Hils, CA 91367</p>
            <p>Phone: 818-703-8480</p>
        </div>
        
        <div class="hidden md:block text-center">
            <h4 class="md:text-lg uppercase mb-4 font-semibold">Follow on Social Media</h4>
            <p><a href="https://twitter.com/ddynamicmassage" target="_blank" class="hover:text-gray-600">Twitter</a></p>
            <p><a href="https://www.facebook.com/dcdynamicmassage" target="_blank" class="hover:text-gray-600">Facebook</a></p>
            <p><a href="https://www.yelp.com/biz/dc-dynamic-massage-woodland-hills" target="_blank" class="hover:text-gray-600">Yelp</a></p>
        </div>

    </div>
    <div class="bg-blue-400 py-2 px-4 md:px-16 text-sm text-gray-200 font-semibold mt-4">
        Copyright © <current-year></current-year> DC Dynamic Massage
    </div>
</footer>