<div class="container p-4 mx-auto">
    <div class="min-h-screen">
      <div class="flex items-center justify-center w-full bg-white">
        <div class="max-w-sm m-8">
          <div class="text-5xl font-black text-black md:text-15xl">404</div>
          <div class="w-16 h-1 my-3 bg-purple-light md:my-6"></div>
          <p class="mb-8 text-2xl font-light leading-normal text-grey-darker md:text-3xl">Sorry, the page you are looking for could not be found.</p>
          <a href="/" class="px-6 py-3 font-bold tracking-wide uppercase bg-transparent border-2 rounded-lg text-grey-darkest border-grey-light hover:border-grey">Go Home</a>
        </div>
      </div>
    </div>
</div>
 
