<div class="container p-4 mx-auto text-justify">
    <p>
        DC Dynamic Massage features a highly trained group of certified massage therapists who are dedicated to helping clients improve their health and achieve a balanced lifestyle.  We offer high quality massage, flexible scheduling and outstanding service.  Whether you are looking to find a sense of balance and tranquility or relief from chronic pain and tension, we can meet your massage therapy needs.
    </p>
    <h1 class="my-4 text-xl font-semibold uppercase">Meet David Cantrell, LMT, CES, PES, the Business owner</h1>
    <img class="float-left my-2 mr-4 border-4 border-gray-500 rounded-full" src="/img/david-cantrell.jpg">
    <div>
        <div class="mb-4">
            <h2 class="text-xl font-semibold">Massage Envy 2015 Regional Massage Therapist of the Year</h2>
        </div>
        <p class="">
            "I began my massage practice in 2005 with only a massage table and a passion to help people. After receiving treatment for my own injuries, I knew I wanted to do this"
        </p>
        <p class="mt-2">
            David is a licensed massage therapist, Performance Enhancement Therapist, personal coach and ex-pro baseball player for the San Francisco Giants.  He holds Massage Envy's 2015 Regional Massage Therapist of the Year award and works on everyone from a four-time Olympic medal-winning chiropractor to the LA Rams to regular folks suffering from chronic back pain. David works from several treatment centers across LA and offers mobile services.
        </p>
        <p class="mt-2">
            David advocates preventative care and gets to the source of existing or potential problems.  Whether you are 90 or a high school athlete, David is happy to treat you. Each session is specific and focused for each individual in order to achieve the best possible results.
        </p>         
    </div>
</div>
