<div class="container p-4 mx-auto text-justify">
    <p>
        DC Dynamic Massage features a highly trained group of certified massage therapists who are dedicated to helping clients improve their health and achieve a balanced lifestyle.  We offer high quality massage, flexible scheduling and outstanding service.  Whether you are looking to find a sense of balance and tranquility or relief from chronic pain and tension, we can meet your massage therapy needs.
    </p>
    <h2 class="text-xl uppercase font-semibold my-4">Meet the Business Owner</h2>
    <img class="float-left mr-4 my-2" src="/img/dc-267x300.jpg">
    <div>
        <div class="mb-4">
            <h3 class="text-lg font-semibold">David Cantrell, LMT, CES, PES</h3>
            <h3 class="font-semibold">Massage Envy 2015 Regional Massage Therapist of the Year</h3>
        </div>
        <p>
            I began my massage practice in 2005 armed with a table & an idea. I received my certification from Everest College in 2009 where I completed over 850 hours. As a  former professional athlete, I discovered the importance of sports massage therapy & range of motion. This has helped me expand my knowledge of the body (Corrective Exercise & Performance Enhancement Specialist) & found ways to help athletes improve their recovery process. Now as a high school girls basketball coach (2 CA state championships), I developed preventative maintenance  programs for my athletes to avoid injury during the long season. I am passionate about helping my clients achieve a more pain free active lifestyle. Each session is specific & focused for each individual in order to achieve the best possible results.
            “My intention as a massage therapist is to educate my clients about the importance of massage, its benefits in helping maintain, & improve general health & well being.”
        </p>
    </div>
</div>
