<div class="container flex justify-center p-4 mx-auto">
    <div class="mt-10">
         <div class="flex justify-center text-green-700">
             <svg class="w-32 h-32" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" viewBox="0 0 24 24" stroke="currentColor">
                 <path d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
            </svg>
        </div>
        <p class="mt-6 text-2xl font-bold text-center">Thank you!</p>
        <p class="mt-2 text-lg font-semibold text-center">Your submission has been sent</p>
    </div>
   
</div>

