<div class="relative hidden sm:block" style="padding-bottom: 27%;">
    <img class="absolute object-cover w-full h-full shadow-md" src="/img/banner_original.jpg" alt="Banner">
</div>

<div class="border-t-2 border-gray-400 welcome-strip" style="background-color: #eaeff5;">
    <div class="grid w-3/4 grid-cols-1 gap-6 py-8 mx-auto md:px-6 lg:grid-cols-2">
        <div class="relative" style="padding-bottom: 55%;">
            <iframe class="absolute w-full h-full" src="https://www.youtube.com/embed/nOxB9b3jGpQ" frameborder="0"
                allowfullscreen=""></iframe>
        </div>
        <div>
            <div class="welcome_text">
                <h2 class="text-2xl font-semibold lg:text-3xl">Welcome to DC Dynamic Massage</h2> 
                <h3 class="mb-4 text-sm font-semibold tracking-wide text-gray-700 uppercase lg:text-base">Experience Relaxation, Rejuvenation, and Healing.</h3>
                <p class="hidden mb-2 lg:block">Massage therapy is a type of treatment in which a trained and certified medical professional manipulates the soft tissues of your body — muscle, connective tissue, tendons, ligaments and skin — using varying degrees of pressure and movement. Massage is generally considered part of complementary and integrative medicine. It's increasingly being offered along with standard treatment for a wide range of medical conditions and situations.
                </p>
                <p class="mb-2">Massage therapy is not just a luxury, it's a key piece of your health and wellness plan. Regularly
                    scheduled self-care plays a big part in how healthy and vital you'll be with each passing year. Not
                    sure what type of massage is best for you? Our team of highly skilled professionals will be happy to
                    work with you to help you select the service that best meets your needs. 
                </p>
                <div class="mt-6">
                    <a class="px-4 py-2 text-sm font-semibold text-white uppercase bg-blue-500 rounded hover:bg-gray-500 md:text-base" href="/contact">Schedule appointment</a>
                </div>
                
            </div>
        </div>
    </div>
</div>
<div class="border-t-2 border-gray-400 services-strip">
    <div class="w-3/4 py-8 mx-auto md:px-6">
        <div class="flex justify-around">
            <h2 class="text-xl font-bold uppercase lg:text-2xl">Featured Services</h2>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 xl:mx-24">
            <div class="flex justify-around mt-8">
                <div>
                    <div class="flex justify-around">
                        <img class="w-48 border-4 border-gray-500 rounded-full" src="/img/sports.png" alt="Sports Massage">
                    </div>
                    <div class="mt-4 text-center">
                        <p class="text-lg font-semibold text-gray-700">Sports Massage</p>
                    </div>
                </div>
            </div>
            <div class="flex justify-around mt-8">
                <div>
                    <div class="flex justify-around">
                        <img class="w-48 border-4 border-gray-500 rounded-full" src="/img/performance.jpg" alt="Performance Recovery">
                    </div>
                    <div class="mt-4 text-center">
                        <p class="text-lg font-semibold text-gray-700">Performance Recovery</p>
                    </div>
                </div>
            </div>
            <div class="flex justify-around mt-8">
                <div>
                    <div class="flex justify-around">
                        <img class="w-48 border-4 border-gray-500 rounded-full" src="/img/relaxation.png" alt="Relaxation Massage">
                    </div>
                    <div class="mt-4 text-center">
                        <p class="text-lg font-semibold text-gray-700">Relaxation Massage</p>
                    </div>
                </div>
            </div>
            <div class="flex justify-around mt-8">
                <div>
                    <div class="flex justify-around">
                        <img class="w-48 border-4 border-gray-500 rounded-full" src="/img/sauna.jpg" alt="Infrared Sauna">
                    </div>
                    <div class="mt-4 text-center">
                        <p class="text-lg font-semibold text-gray-700">Infrared Sauna</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex justify-around mt-8">
            <a class="px-4 py-2 text-sm font-semibold uppercase bg-white border-4 border-gray-500 rounded md:text-base hover:bg-gray-500 hover:text-white" href="/services">View More Services</a>
        </div>
    </div>
</div>

<div class="border-t-2 border-gray-400 promotions-strip" style="background-color: #eaeff5;">
    <div class="w-3/4 py-8 mx-auto md:px-6">
        <div class="flex justify-around">
            <h2 class="text-xl font-bold uppercase lg:text-2xl">Promotions</h2>
        </div>
        <coupons></coupons>
    </div>
</div>

<div class="border-t-2 border-gray-400 reviews-strip">
    <div class="w-3/4 py-8 mx-auto md:px-6">
        <div class="flex justify-around">
            <h2 class="text-xl font-bold uppercase lg:text-2xl">Reviews</h2>
        </div>
        <yelp-reviews></yelp-reviews>
    </div>
    <div class="flex justify-around mt-8">
        <a class="px-4 py-2 text-sm font-semibold uppercase bg-white border-4 border-red-600 rounded md:text-base hover:bg-red-600 hover:text-white" href="https://www.yelp.com/biz/dc-dynamic-massage-woodland-hills" target="_blank">Read More Reviews</a>
    </div>
</div>