<div class="hidden sm:block relative" style="padding-bottom: 27%;">
    <img class="absolute h-full w-full object-cover shadow-md" src="/img/banner_original.jpg" alt="Banner">
</div>

<div class="welcome-strip border-t-2 border-gray-600" style="background-color: #eaeff5;">
    <div class="px-6 py-8 mx-auto w-3/4 grid grid-cols-1 lg:grid-cols-2 gap-6">
        <div class="relative" style="padding-bottom: 55%;">
            <iframe class="absolute h-full w-full" src="https://www.youtube.com/embed/nOxB9b3jGpQ" frameborder="0"
                allowfullscreen=""></iframe>
        </div>
        <div>
            <div class="welcome_text">
                <h2 class="font-semibold text-2xl lg:text-3xl">Welcome to DC Dynamic Massage</h2> 
                <h3 class="font-semibold tracking-wide uppercase text-gray-700 mb-4 text-sm lg:text-base">Experience Relaxation, Rejuvenation, and Healing.</h3>
                <p class="hidden lg:block mb-2">Massage therapy is a type of treatment in which a trained and certified medical professional manipulates the soft tissues of your body — muscle, connective tissue, tendons, ligaments and skin — using varying degrees of pressure and movement. Massage is generally considered part of complementary and integrative medicine. It's increasingly being offered along with standard treatment for a wide range of medical conditions and situations.
                </p>
                <p class="mb-2">Massage therapy is not just a luxury, it's a key piece of your health and wellness plan. Regularly
                    scheduled self-care plays a big part in how healthy and vital you'll be with each passing year. Not
                    sure what type of massage is best for you? Our team of highly skilled professionals will be happy to
                    work with you to help you select the service that best meets your needs. 
                </p>
                <div class="mt-6">
                    <a class="font-semibold rounded px-4 py-2 bg-blue-500 text-white uppercase hover:bg-gray-500" href="#">Schedule appointment</a>
                </div>
                
            </div>
        </div>
    </div>
</div>
<div class="services-strip border-t-2 border-gray-600">
    <div class="px-6 py-8 mx-auto w-3/4">
        <div class="flex justify-around">
            <h2 class="font-bold text-xl lg:text-2xl uppercase">Featured Services</h2>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4">
            <div>col1</div>
            <div>col2</div>
            <div>col3</div>
            <div>col4</div>
        </div>
    </div>
</div>