<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/main.css">
    <title>DC Dynamic Massage</title>
</head>

<body>
    <div id="app" class="flex flex-col min-h-screen">
        <navbar></navbar>

        <main class="py-8 flex-grow">
            {{{ body }}}
        </main>

        <footer class="border-t border-gray-800">
            <div class="container mx-auto px-4 py-6">
                Copyright © 2020 DC Dynamic Massage
            </div>
        </footer>
    </div>
    <script src="/js/app.js"></script>
</body>

</html>