<div class="container p-4 mx-auto">
    <div class="mb-8">
        <h2 class="text-lg font-semibold my-2">Sports Massage</h2>
        <p>Improve your athletic performance and reduce the risk of injury with a combination of deep tissue massage, compression and stretching techniques.  This massage reduces muscle pain, increases flexibility and speed recovery from injuries or overworked muscles (60 min – $60, 90 min – $90).</p>
    </div>
    <div class="mb-8">
        <h2 class="text-lg font-semibold my-2">Performance Recovery</h2>
        <p>Enhance the performance and health of your company’s most important asset – its employees.  Studies have proven that pneumatic compression increases employee productivity, decreases stress and improves concentration (<a href="/contact" class="text-blue-500 hover:text-blue-700">Please call for a quote</a>).</p>
    </div>
    <div class="mb-8">
        <h2 class="text-lg font-semibold my-2">Deep Tissue Massage</h2>
        <p>Find relief from chronic pain, tension and tightness caused by injury or overworked muscles.  This therapeutic massage focuses on specific problem areas, with deep pressure applied during the massage.  Your massage therapist will adjust the pressure to accommodate your comfort level (60 min – $60, 90 min – $90).</p>
    </div>
    <div class="mb-8">
        <h2 class="text-lg font-semibold my-2">Relaxation Massage</h2>
        <p>De-stress and unwind during this full body massage with light to medium pressure and long flowing strokes.  This massage will soothe your body and mind transporting you to a tranquil state of relaxation (60 min – $60, 90 min – $90).</p>
    </div>
    <div class="mb-8">
        <h2 class="text-lg font-semibold my-2">Onsite Massage for Groups</h2>
        <p>We provide professional on-site massage for special events, celebrations, groups and family gatherings.  The therapists utilize mobile massage tables or chairs and can accommodate your specific scheduling requests (<a href="/contact" class="text-blue-500 hover:text-blue-700">Please call for a quote</a>).</p>
    </div>
    <div class="mb-8">
        <h2 class="text-lg font-semibold my-2">Hot Stone Massage</h2>
        <p>The healing power of heat is combined with traditional massage techniques.  Tension melts away as warm stones are used over the entire body, radiating deep into tight muscles and bringing your body into a state of deep relaxation (60 min – $80, 90 min – $110).</p>
    </div>
    <div class="mb-8">
        <h2 class="text-lg font-semibold my-2">Pregnancy Massage</h2>
        <p>Find relief and relaxation during all stages of your pregnancy.  Massage during pregnancy helps relieve discomfort, pain and promotes health and well-being for you and your baby.  A specially designed table allows you to lie face down with supporting the belly, helping you feel secure and comfortable (60 min – $75).</p>
    </div>
</div>